 <style>
 .slidesjs-pagination li {
  margin: 0 1px;
}
.slidesjs-pagination li a {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 30px;
}
  .slidesjs-pagination li {
    margin: 0 1px;
    box-shadow: inset 0px 2px 2px 0px #555;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 0;
}
    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background: #AF0601;
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }
.slidesjs-pagination {
  position: absolute;
  height: 30px;
  z-index: 1000;
  bottom: 4px;
  text-align: center;
  width: 100%;
}
.slidesjs-previous {
  background: url("/static/img/prev.png");
  position: absolute;
  top: 50%;
  left: 10px;
  width: 33px;
  height: 80px;
  z-index: 1000;
  font-size: 0;
}
.slidesjs-next {
  background: url("/static/img/next.png");
  position: absolute;
  top: 50%;
  right: 10px;
  width: 33px;
  height: 80px;
  z-index: 1000;
  font-size: 0;
}
  </style>
  <!-- End SlidesJS Optional-->

  
  <!-- The container is used to define the width of the slideshow -->
  <div class="container_banner">
    <div id="slides">

    	{% for img in carousel %}
		<img src="{{img.image.url}}">
		{% endfor %}
    </div>
  </div>
  <!-- End SlidesJS Required: Start Slides -->

  <!-- SlidesJS Required: Link to jQuery -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Link to jquery.slides.js -->
  <script src="{{STATIC_URL}}js/jquery.slides.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
  <script>
 $(function(){ 
  $('#slides').slidesjs({ 
  preload: true, 
  preloadImage: 'http://www.ps-studio.info/WEBPRACTIC/25/examples/standart/loading.gif', 
  play: 5000, 
  pause: 2500, 
  hoverPause: true 
  }); 
  }); 
  </script>
