body {
	background: #fff;
	font-family: Arial,Helvetica,Garuda,sans-serif;
}
p,label {
	font-family: Arial,Helvetica,Garuda,sans-serif;
	color: #330a04;
	font-size: 14px;
}
a {
	color: #4c211c;
}
h1 {
	font-size: 25px;
	color: #711c1b;
	font-weight: normal;
}
.container{
	width:890px;
	margin:0 auto;
}
.container-fluid {
	padding: 0;
}
#header {
	background: url('/static/img/653.png') center 20px;
	border-bottom: 4px solid #41110d;
}
#header .border {
	background: #702c2a; /* Old browsers */
	background: -moz-linear-gradient(left,  #702c2a 0%, #a23028 13%, #632a2a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#702c2a), color-stop(13%,#a23028), color-stop(100%,#632a2a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #702c2a 0%,#a23028 13%,#632a2a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #702c2a 0%,#a23028 13%,#632a2a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #702c2a 0%,#a23028 13%,#632a2a 100%); /* IE10+ */
	background: linear-gradient(to right,  #702c2a 0%,#a23028 13%,#632a2a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#702c2a', endColorstr='#632a2a',GradientType=1 ); /* IE6-9 */
	height: 20px
}
#block_logo {
	padding-top: 5px;
	padding-bottom: 5px;
}
#content{
	padding-top:25px;
	margin-left: -10px;
}
#wrap_block #block_images {
	width: 485px;
	height: 193px;
}
#wrap_block #block_images img{
	width: 485px;
	height: 193px;
}
.wrap_block {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 5%, rgba(124,124,124,1) 50%, rgba(235,235,235,1) 95%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(5%,rgba(235,235,235,1)), color-stop(50%,rgba(124,124,124,1)), color-stop(95%,rgba(235,235,235,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 5%,rgba(124,124,124,1) 50%,rgba(235,235,235,1) 95%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 5%,rgba(124,124,124,1) 50%,rgba(235,235,235,1) 95%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 5%,rgba(124,124,124,1) 50%,rgba(235,235,235,1) 95%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 5%,rgba(124,124,124,1) 50%,rgba(235,235,235,1) 95%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	margin-bottom: 20px;
	padding-right: 4px;
	border-radius: 0 0 4px 4px;
}
.wrap_content {
	background: url('/static/img/fon.png') repeat-x;
}
#block_text {
	background: #fff;
	box-shadow: 0px 0px 25px 5px #E2E2E2;
	margin-left: 0;
	border-radius: 0 3px 3px;
	min-height: 300px;
}
#block_text p{
	padding-top: 10px;
	font-family: Arial,Helvetica,Garuda,sans-serif;
	padding-left: 14px;
}
#block_text h1 {
	padding-left: 14px;
}
#block_text .news_content {
	padding: 14px;
}
.right {
	float: right;
}
/*Top block*/
#top_block {
	display: inline-block;
	margin-top:20px;
}
#top_block h3,#top_block h1{
	color:#000000;
}
.soc_networks img{
	padding-left: 10px;
}
#login{
	width:200px;
	height:26px;
	background-repeat:repeat-x;
	float:right;
	text-align: center;
}
#login a{
	color:white;
	margin:8px 6px;
	text-decoration: underline;
}
#login a:hover{
	text-decoration: none;
}

/*Top block end*/

/*Vertical menu*/
#nav {
	clear: both;
	margin-top: 0px;
	display: inline-block;
	background: #600707;
	position: relative;
}
#nav ul {
	margin: 0;
	padding: 0;
}
#nav ul li{
	display: inline-block;
	text-align: center;
	border-top: 5px solid rgb(255, 255, 255);
	border-left: 3px solid #e1bbaa;
	border-right: 3px solid #e1bbaa;
	border-bottom: 5px solid #b9877c;
	background: #eac7b5;
	float: left;
	margin-right: 2px;
}
#nav ul li a {
	color: #60342d;
	font-size: 20px;
	padding: 7px 20px;
	display: inline-block;
}
#nav ul li:hover {
	background: url('/static/img/444.png');
	border: none;
	height: 32px;
	padding: 5px 3px;
	margin-right: 2px;
}
#nav ul li:hover a{
	color: #fff;
	text-decoration: none;
}
#nav ul li ul{ 
	display: none;
	position: absolute;
	z-index: 1000;
	width: 884px;
	left: 4px;
	top: 41px;
}
#nav ul li ul li{ 
	background: rgba(255, 245, 233, 0.53);
	border: none;
	float: none;
	display: block;
	padding: 0;
}
#nav ul li ul li a{ 
	color: #60342d!important;
	width: 100%;
	padding: 10px 0;
}
#nav ul li ul li:hover a{ 
	color: #C24338!important;
}
#nav ul li ul li:hover{ 
	background: rgba(255, 255, 255, 0.72);
	height: 100%;
	padding: 0;
}
#nav ul li:hover ul {
	display: block;
	padding-top: 5px;
}
.container_banner {
	position: relative;
	box-shadow: 0px 11px 21px -3px #cbc7c8;
	border: 4px solid #5d2d1c;
	border-radius: 5px;
	margin-top: -4px;
}
#foto_ex{
	margin:15px;
}
.breadcrumb {
	background: none;
	color: #330a04;
	box-shadow: none;
	margin: 0;
}
.language {
	float: right;
	color: #330a04;
	height: 21px;
	clear: both;
	padding: 10px 0;
}
.language a{
	color: #fff;
	font-size: 16px;
}
.current {
	color: #ce7a73!important;
}
/*Vertical menu end*/

/*Horizontal menu*/
#hmenu{
	margin: 25px auto;
	padding:0px;
}
#hmenu ul{
	margin: 0;
}
#hmenu li {
	display: block;
	font-size:17px;
	padding: 18px 0;
	text-align: center;
}
#hmenu li div:hover {
	text-decoration: none;
}
#hmenu li span {
	position: relative;
	top: 65px;
}

#hmenu li a {
	text-decoration: none;
	color: #c04c27;
	padding-bottom: 27px;
	font-family: 'Lobster', cursive;
}
#hmenu li a:hover {
	color:#38150f;
}
#hmenu li div{
	display: inline-table;
	width:110px;
	height:80px;
	background-repeat:no-repeat;
	background-position:center;
	margin: 0;
	text-align: center;
	color:#3333FF;
	text-decoration: underline;
}

#hmenu_top{
	margin: 0 auto;
	width:200px;
	height:30px;
}
#hmenu_top li {
	display: inline;
	font-size:14px;
}
#hmenu_top li a {
	text-decoration: none;
}

#hmenu_top li div{
	display: inline-table;
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	background-position:center;
	margin: 0;
}
#wrap_block {
	padding:0;
}
/*Horizontal menu end*/
.page_title {
	background: #eacec2;
	height: 35px;
	box-shadow: -5px 9px 16px -15px rgb(0, 0, 0);
}
#search {
	float: right;
}
#search form {
	position: relative;
	margin: 13px 0;
}
#search form a {
	position: absolute;
	top: 3px;
	right: 10px;
}
.icon-search {
	background: url('/static/img/search.png') no-repeat;
	width: 27px;
	height: 25px;
}
#header .span5 {
	width: 410px;
}
#block_text .page_title {
	padding-left: 14px;	
}
#block_text .search {
	padding-left: 14px;
}
#right_block .news_content {
	padding: 10px 20px 0;
}
.news_content a {
	color: #4c211c;
}
.date {
	color:#c04138;
}
#right_block .news, .advice {
	box-shadow: 0px 0px 25px 5px #E2E2E2;
	border-radius: 0 3px 3px;
	background: #fff;
	display: inline-block;
	width: 100%;
}
#right_block .news .all, .advice .all{
	font-size: 0;
	background: url('/static/img/arrow.png');
	display: inline-block;
	height: 11px;
	width: 37px;
	float: right;
	margin: 20px 10px;
}
.page_title p{
	font-size: 25px;
	color: #711c1b;
	font-weight: normal;
	padding-left: 10px;
	padding-top: 8px;
} 
.page-header {
	border-bottom: none;
}
.carousel-image {
	float: center;
	height: 193px;
	width: 185px;
}
#myCarousel{
	margin:0;
	margin-bottom:0px;
}
#slides {
	display:none;
    clear:both;
    position: relative;
}
.soc_networks {
	float: right;
	clear: both;
}
#footer {
	background: #2f0909;
	border-top: 8px solid #3e100c;
	color: #ca483e;
	margin-top: 30px;
}
#footer p {
	color: #ca483e;
}
#footer a {
	color: #ca483e;
	font-size: 14px;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
} 
.callback-input-wrap {
	padding: 5px;
}
.callback-text-wrap {
	padding: 5px;
}
#messageField {
	width: 70%;
	height: 110px;
	padding: 5px;s
}
#addFeedback { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#892e29+0,9d2f28+100 */
	background: #892e29; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5MmUyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZDJmMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #892e29 0%, #9d2f28 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#892e29), color-stop(100%,#9d2f28)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #892e29 0%,#9d2f28 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #892e29 0%,#9d2f28 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #892e29 0%,#9d2f28 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #892e29 0%,#9d2f28 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#892e29', endColorstr='#9d2f28',GradientType=0 ); /* IE6-8 */
}
#addFeedback:hover, #addFeedback:active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#722222+0,892a23+100 */
	background: #722222; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTJhMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #722222 0%, #892a23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#722222), color-stop(100%,#892a23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #722222 0%,#892a23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #722222 0%,#892a23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #722222 0%,#892a23 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #722222 0%,#892a23 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#722222', endColorstr='#892a23',GradientType=0 ); /* IE6-8 */

}
#feedbackForm input, textarea {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}