 <div class="span8">
    <h3>From the Blog</h3>
    <div class="blog_post">
        <div class="row">
            <div class="span2">
                <a href="blog.html">
                    <img src="/static/img/pic_blog.png" alt="post image" class="img-circle" />
                </a>
            </div>
            <div class="span4">
                <a href="{{ last.get_absolute_url }}" class="title">
                   {{ news.title }}
                </a>
                <div class="intro">
                    {{news.excerpt|safe}}
                </div>
                <div class="date">
                    {{ news.pub_date }}
                </div>
            </div>
        </div>
    </div>
</div>