<style>
img{
	float:left;
}

</style>

{% load i18n %}
  {% for news in latest %}
    <div class="news_content">
    <span class="date">{{ news.pub_date|date:"d/m/y" }}</span><br/>
    <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
    </div>
  {% empty %}
    <div>{% trans "Нет ни одной записи" %}</div>
  {% endfor %}

