<form class="well form-horizontal" method="POST" action="/add_question/">
    {% csrf_token %} 
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    <div class="control-group">
        <label class="control-label">Имя:</label> 
        <div class="controls">
            <input type="text" name="name" class="input-large" placeholder="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">E-mail:</label> 
        <div class="controls">
            <input type="text" name="email" class="input-large" placeholder="">
            <p>Если хотите получить ответ лично, введите свой e-mail.</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Вопрос:</label> 
        <div class="controls">
            <textarea class="input-xlarge" name="review" rows="3"></textarea>
        </div>
    </div>  
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Отправить">
        </div>
    </div>
</form>
{% load pagination_tags %}
{% autopaginate questions 15 %}

{% for question in questions %}
<h4><i class="icon-comment"></i>{{ question.pub_date }}, {{ question.name }}</h4>
<p>{{ question.question }}</p>
{% if question.answer|safe %}
    <h4>Администрация БО "Каравелла"</h4>
    <p class="answer">{{ question.answer|safe }}</p>
{% endif %}
{% endfor %}
{% paginate %}