{% load cms_tags sekizai_tags %}
{% load i18n %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{% trans 'Oleh Korkh' %}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if gte IE 7]>
      <style type="text/css">
      .photo-gallery {
        display: -moz-inline-stack;
        zoom: 1;
        *display: inline;
        width: 200px;
        display: inline!important;
      }
      .nav ul li {
        display: -moz-inline-stack;
        zoom: 1;
        *display: inline!important;
        width: 115px;
        display: inline;
      }
      </style>
    <![endif]-->
    <!-- The styles -->       
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!--<link rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less">-->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap_01.css" rel="stylesheet">
    <!--<script src="{{ STATIC_URL }}js/less.js"></script>-->
    {% render_block "css" %}
    {% block head %}{% endblock %}
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/fav.png">

    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.custom.css" rel="stylesheet">
    <script type='text/javascript'>//<![CDATA[
    $(window).load(function(){
        $(document).ready(function(){
        $('.fancybox').fancybox();
        $('.carousel').carousel({
          interval: 2000
        })
        });
        $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })
        $.each($("a"),function(){
          if(this.href=='{{request.build_absolute_uri}}'){
             $(this).addClass('selected');};
        });
    });
    //]]>
    </script> 
  </head>
  <body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38848313-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% cms_toolbar %}
<div class="wrap">
<div class="container-fluid">
  <div class="hidden-phone hidden-tablet"></div>
    <div id="header" class="row">
      <div class="border"></div>
      <div class="container">
        <div class="row">
        <span class="language">{% language_chooser "language_chooser.html" %}</span>
          <div id="block_logo" class="span6"><a href="/"><img src="/static/img/logo.png" alt="logo" id="logo"></a></div>
          <div class="span5">
            <div id="search">
                <form name="search" action="{% url search %}" method="get">
                {% csrf_token %}
                <input name="search" placeholder="поиск..." id="search_input" type="text" size="20">
                <a href="#"  onclick="document.forms['search'].submit(); return false;"><i class="icon-search"></i></a>
                </form>
            </div>
            <div class="soc_networks">
              {% placeholder horizontal_top_menu_content or %}
                  {% show_placeholder "horizontal_top_menu_content" "main" %}
              {% endplaceholder %}
            </div>

          </div>
          </div>
       </div> 
    <div class="border"></div>
    </div>   
      <div class="row" id="all">  
        <div class="wrap_content">
          <div id="wrap_block" class="row">
            <div class="container">
              <div id="nav">
                  {% block vertical_menu_content%}{% include "vertical_menu_block.html" %}{% endblock %}
              </div>
              {% placeholder carousel %}
            </div>
          </div>  
      <div>

    <div id="content" class="row-fluid">
        <div class="container"> 
        <div class="wrap_block span8"> 
      <div id="block_text" class="span12">
        <div class="page_title">
          <h1>{% page_attribute "page_title" %}</h1>
        </div>
         {% ifnotequal request.current_page.reverse_id "main" %} 
         <div class="breadcrumb"> {% block breadcrumbs %} 
          {% show_breadcrumb 0 "menu/breadcrumb.html" False %} {% endblock %}
           </div>
          {% endifnotequal %} 
         {% if messages %}
          {% for m in messages %}
          <div class="msg-alert alert alert-{% if m.tags == 'error' %}error{% else %}info{% endif %}">
            <a class="close" data-dismiss="alert" href="#">×</a>
            {{ m }}
          </div>
          {% endfor %}
          <script type="text/javascript">
            $('.msg-alert').delay(5000).hide(1);
          </script>
        {% endif %}
        {% block template_content %}

          {% endblock %}
           {% block base_content %}{% endblock %}

      {% placeholder bottom_content %}
      </div>
    </div>
      <div id="right_block" class="span4">
      <div class="wrap_block">
        <div class="news">
          <div class="page_title">
            <p>Последние новости</p>
          </div>
         {% placeholder news or %}
               {% show_placeholder "news" "main" %}
          {% endplaceholder %}
          <a class="all" href="/news/">Новости</a>
        </div>
      </div>
      <div class="wrap_block">
        <div class="advice">
          <div class="page_title">
            <p>Рекомендации</p>
          </div>
         {% placeholder advice or %}
               {% show_placeholder "advice" "main" %}
          {% endplaceholder %}
          <a class="all" href="/rekomendacii/">Новости</a>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div> <!-- /container -->
</div>
<div id="callback-wrap" class="container">
  {% include 'feedbacks/form.html' %}
</div>
  {% block footer_content%}{% include "footer_block.html" %}{% endblock %}
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap-datepicker.js"></script>
{% render_block "js" %}
{% block finish %}{% endblock %}
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter20320081 = new Ya.Metrika({id:20320081,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/20320081" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body></html> 