{% load cms_tags sekizai_tags %}
{% load i18n %}
{% load menu_tags %}
<div id="footer"> 
    <div class="row-fluid container">
        <div class="span2">
        <div class="aqua">
        <a href="http://www.aquaweb.com.ua/read/ru/sozdanie-internet-magazina" title="Cоздание сайта" target="_blank">Cоздание сайта 
        <br> <img title="Cоздание сайта" alt="Cоздание сайта" src="/static/img/aqua.png"></a>
        </div>
        </div>
        <div class="span5"><p>Кодекс 2013 | Политика конфиденциальности </p></div>
        <div class="span5">
        {% placeholder footer_menu or %}
            {% show_placeholder "footer_menu" "main" %}
        {% endplaceholder %}
            <div class="soc_networks">
            {% placeholder horizontal_top_menu_content or %}
                {% show_placeholder "horizontal_top_menu_content" "main" %}
            {% endplaceholder %}
          </div>
      </div>
    </div>
</div>