{% extends "base.html" %}
{% block template_content %}
{%if found_entries %}
   <div class="search"> Найдено на страницах:
    <ul>
    {% for one in found_entries %}
        <li><a href="{{ one.get_absolute_url }}">{{ one.get_title }}</a>
        </li>
    {%endfor%}
    </ul>
    </div>
{% else %}    
    <div class="search">По вашему запросу ничего не найдено</div>
{% endif %}
{% endblock %}