{% load cms_tags sekizai_tags menu_tags %}
<div id="login">
    {% if not user.is_authenticated %}
    <a href="/login/">Вход</a>
    <a href="/registration/">Регистрация</a>
    {% else %}
    {{ user.profile.full_name }}
    <a href="/logout/">Выход</a>
    {% endif %}
</div>
<div  id="hmenu_top">
    <ul>
       	{% placeholder horizontal_top_menu_content or %}
            {% show_placeholder "horizontal_top_menu_content" "main" %}
        {% endplaceholder %}
    </ul>
</div>
{% language_chooser "menu/language_chooser.html" %}
<div id="top_block" align="center">
    <h1>Название сайта</h1>
</div>